article{
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 1000px;
}
.index {
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
    margin: 20px;
    place-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
  
}
input, textarea{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 500px;
}
button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}
.admin{
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    margin: 20px;
    place-items: center;
}
.link{
    text-decoration: none;
    color: #333;
    background-color: #67eaef;
    padding: 5px 10px;
    border-radius: 5px;
}
.link:hover{
    background-color: #45c4c9;
    color: white;
}
.article{
    width: 800px;
    padding: 50px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin: auto;
    
    border-radius: 5px;
    background-color: #fdfdfd;
    height: auto;
}